<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
        <a class="navbar-brand" href="#">Heroes-app</a>
    </div>
</nav>

<div class="container pt-5">
    <a href="" class="btn btn-success py-2 px-4 rounded-0 mr-3">Dashboard</a>
    <a routerLink="/heroes" class="btn btn-secondary py-2 px-4 rounded-0">Heroes</a>
</div>