<div class="container pb-5 mt-5">
    <div *ngIf="messageService.messages.length">
        
        <h4>Messages</h4>
        <button class="btn btn-secondary py-2 px-4 rounded-0"
        (click)="messageService.clear()">clear</button>
        <div *ngFor='let message of messageService.messages'> {{message}} </div>
        
    </div>
</div>