<div class="container pt-5">
    <h2 class="text-center mb-4">Top Heroes</h2>
    <div class="row">
        <div *ngFor="let hero of heroes" class="col-3">
            <a routerLink="/detail/{{hero.id}}" class="text-white">
                <div class="mb-4 bg-info p-5  text-center wrap-hero" (click)="select(hero)" [class.selected]="hero === selectedHero">
                    {{hero.name}}
                </div>
            </a>
        </div>
    </div>
   
    <hr>
    <app-detail-hero [hero]="selectedHero"></app-detail-hero>
</div>
