<div class="container pt-5">
     <div class="row">
         <div *ngFor="let hero of heroes" class="col-3">
            <a routerLink="/detail/{{hero.id}}" class="text-white">
                <div class="mb-4 bg-info p-5  text-center wrap-hero" (click)="select(hero)" [class.selected]="hero === selectedHero">
                    {{hero.name}}
                </div>
            </a>
         </div>
     </div>
</div>