<div class="container pt-4">
    <div *ngIf="hero">
        <h3>{{hero.name}} Detail</h3>
        <h4>ID {{hero.id}}</h4>
        <input class="form-control w-50" [(ngModel)]="hero.name">
        <button class='btn btn-secondary py-2 px-4 rounded-0 mt-3' (click)="goBack()">Back</button>
    </div>
</div>